<button (click)="goBack()">⬅</button>

<div class="form">
    <div>Send the coin to the user:</div>
    <form [formGroup]="sendCoinForm" (ngSubmit)="onSend()">
        <div>
            <label for="recipientUsername">Input a recipient username:</label>
            <input id="recipientUsername" type="text" formControlName="recipientUsername">
        </div>
        <div>
            <button type="submit">Send the coin</button>
        </div>
    </form>
</div>
<div *ngIf="errorMessage" style="color: red;">{{errorMessage}}</div>