<div *ngIf="isAuthenticated" class="nav-bar">
    <div class="nav-bar-item">
        <div>
            <a [routerLink]="['feed']">Feed</a>
        </div>
    </div>
    <div class="nav-bar-item">
        <div>
            <a [routerLink]="[username + '/wallet/coins']">My coins</a>
        </div>
    </div>
    <div class="nav-bar-item">
        <div>
            <a [routerLink]="[username + '/profile']">My profile</a>
        </div>
    </div>
    <div class="nav-bar-item">
        <div>
            👤 {{username || 'Guest'}}
        </div>
    </div>
    <div class="nav-bar-item">
        <div>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</div>